<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post" class="form_add">
        <p><Label>WB_id:</Label><input type="text" name="wb_id" value="" required></p>
        <p><Label>WM_id:</Label><input type="text" name="wm_id" value="" required></p>
        <p><Label>SKU:</Label><input type="text" name="sku" value="" required></p>
        <p><Label>COF:</Label><input type="text" name="cof" value="" required></p>
        <p><Label>Категория:</Label><input type="text" name="category" value="" required></p>
        <p><Label>Ff-price:</Label><input type="text" name="ff_price" value="" required></p>
        <p><Label>logistics:</Label><input type="text" name="logistics" value="" required></p>
        <p><input type="submit" value="Добавить"></p>
    </form>

    <div><a href="/">вернуться</a></div>
</body>
</html>